.create-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
    padding: 20px 50px;
  }
.title{
    display: flex;
    
}
.title .title-area{
    width: 600px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    resize: none;
    border-radius: 5px;
    box-shadow: 0px 4px 5px -5px black;
}
 /* .des .des-area{
    width: 600px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
} */
 .cont .cont-area{
    width: 600px; 
    height: 400px;
    margin-bottom: 10px;
    margin-top: 10px;
    resize: none;
    border-radius: 5px;
    box-shadow: 0px 4px 5px -5px black;
}
.create-post .buttons {
    flex-grow: 1;
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 2em;
    padding-top: 21px;
  }
  
  .create-post .buttons .cancel {
    height: 100%;
    border-width: 0;
    border-radius: 5px;
    background-color: lightskyblue;
    font-family: "Open Sans";
    transition: all 200ms ease-in-out;
    margin: 10px;
    width: 10%;
    box-shadow: 0px 4px 5px -5px black;
  }
  
  .create-post .buttons .cancel:focus {
    outline: none;
  }
  
  .create-post .buttons .cancel:active {
    background-color: cornflowerblue;
  }
  
  .create-post .buttons .submit {
    height: 100%;
    border-width: 0;
    border-radius: 5px;
    background-color: lightsalmon;
    font-family: "Open Sans";
    transition: all 200ms ease-in-out;
    margin: 10px;
    width: 15%;
    box-shadow: 0px 4px 5px -5px black;
    font-weight: bold;
  }
  
  .create-post .buttons .submit:focus {
    outline: none;
  }
  
  .create-post .buttons .submit:active {
    background-color: salmon;
  }