.list-post {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0px;
    
  }
.post {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: flex-start;
    align-items: center;
  }
  
  .post .item {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    border-radius: 5px; 
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0px 4px 5px -5px black;
  }
  
  .post .item .vote {
    background-color:  gainsboro;
    height: 100%;
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .post .item .image {
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    background-color: white;
  }
  
  .post .item .image img {
    width: 95%;
    height: 95%;
  }
  
  .post .item .content1 {
    padding-left: 5%;
    padding-right: 5%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .post .item .content1 pre {
    /* font-weight: normal; */
    font-size: 15px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
  }
  .post .item .content1 h1 {
    /* font-weight: normal; */
    left: 0;
    right: 0;
    margin: 0;
    cursor: pointer;
  }
  .post .item .content1 .author-time{
    /* font-weight: normal; */
    display: flex;
    flex-direction: row;
    
  }
  .post .item .content1 .author-time .author {
    /* font-weight: normal; */
    display: flex;
    flex-direction: row;
    margin-right: 10px;
  }
  .post .item .content1 .author-time .author .name a{
    /* font-weight: normal; */
    text-decoration: underline;
    margin-left: 3px;
  }
  .post .item .but i {
    cursor: pointer;
  }
  .post .item .but .menu .menu-item {
    cursor: pointer;
  }
  