.show-post{
    
    display: flex;
    flex-direction: row;
    background: url("../../images/shattered.png");
    height: 100%;
    flex-grow: 1;
   
}

.show-post .content3{
    flex-grow: 1;
    background-color: white; 
    width: 800px;
}

.content3 h3{
    text-align: center;
    font-family: "Open Sans";
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word; 
}
.content3  pre{
    text-align: justify ;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 70px;
    width: 600px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.show-post .side{
    flex-grow: 0;
    width: 500px;
}