.header {
  flex-shrink: 0;
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  width: 100%;
  height: 42px;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: 0px 4px 5px -5px black;
  min-width: 1180px;
}

.headerButtonArea {
  display: flex;
  background-color: transparent;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.headerButtons {
  margin-right: 20px;
  color: black;
  background-color: #ebecf0;
  height: 70%;
  border-width: 0px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 200ms ease-in-out;
}

.headerButtons:active {
  background-color: lightgrey;
  border-width: 0px;
}

.headerButtons:focus {
  outline: none;
}

.logout {
  background-color: #b1b6d1;
}

.login {
  background-color: #bdcab8;
}

.headerTitle {
  color: black;
  font-size: 18pt;
  margin-left: 20px;
  font-weight: bold;
}

.headerLink {
  text-decoration: none;
}

.headerSearch {
  border-width: 0px;
  border-color: gainsboro;
  border-radius: 5px;
  height: 70%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ebecf0;
  color: gray;
  width: 630px;
  margin-left: 20px;
  margin-right: 100px;
}

.headerSearch:focus {
  outline: none;
  color: black;
}
