#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* disable scrollbar */
  margin: 0px; /* remove default decoration */
  font-family: "Open Sans";
  min-width: 415px;
}
