.screen {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  background: url("../../images/shattered.png");
  overflow-y: auto;
  height: 100%;
}

.content {
  flex-grow: 1;
  height: fit-content;
  min-height: 100%;
  background-color: #edf0f5;
  min-width: 900px;
}

.ad {
  flex-grow: 0;
  width: 260px;
}
