.sidebar {
  position: sticky;
  top: 0px;
  width: 280px;
  min-width: 280px;
  flex-grow: 0;
  background-color: #3e495e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sidebar-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  left: 0;
  right: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}

.sidebar .sidebarButton {
  border-width: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  color: azure;
  background-color: transparent;
  text-align: left;
  padding-left: 50px;
}

.sidebar .sidebarButton:active {
  background-color: #2b323f;
}

.sidebar .sidebarButton:focus {
  outline: none;
}

.sidebar .sidebarButton:hover {
  background-color: #2b323f;
}

.sidebar .sidebarName {
  color: whitesmoke;
  display: inline-block;
  width: 75%;
  text-align: center;
}

.sidebar .sidebarAvatar {
  border-radius: 10px;
  display: block;
  width: 75%;
  height: auto;
}

.sidebar .sidebarDescription {
  color: whitesmoke;
  font-weight: normal;
  margin-bottom: 50px;
  width: 75%;
  display: inline-block;
  text-align: center;
}
