.edit-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.edit-profile .dialog {
  background-color: white;
  width: 50%;
  height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
}

.edit-profile .dialog:hover {
  border-color: dimgrey;
}
.edit-profile .dialog .info {
  flex-grow: 1;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-profile .content {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  width: 90%;
  height: 3em;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.edit-profile .content input {
  background-color: #ebecf0;
  border-width: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  flex-grow: 1;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Open Sans';
  font-size: 1em;
}

.edit-profile .content .input-image {
  position: relative;
  flex-grow: 1;
  height: 100%;
  background-color: lightgreen;
  border-width: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  align-items: center;
}

.edit-profile .content .input-image label {
  cursor: pointer;
  display: block;
  font-size: 1em;
}

.edit-profile .content .input-image input[type='file'] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  height: 100%;
  width: inherit;
}

.edit-profile .content input:focus {
  outline: none;
}

.edit-profile .content .title {
  width: 25%;
  flex-grow: 0;
  background-color: lightskyblue;
  border-width: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-profile .content .title h4 {
  margin: 0;
  text-align: center;
}

.edit-profile .content .cancel {
  height: 100%;
  width: 40%;
  border-width: 0;
  border-radius: 10px;
  background-color: lightskyblue;
  font-size: 1em;
  font-family: 'Open Sans';
  transition: all 200ms ease-in-out;
}

.edit-profile .content .cancel:focus {
  outline: none;
}

.edit-profile .content .cancel:active {
  background-color: cornflowerblue;
}

.edit-profile .content .submit {
  height: 100%;
  width: 40%;
  border-width: 0;
  border-radius: 10px;
  background-color: lightsalmon;
  font-size: 1em;
  font-family: 'Open Sans';
  transition: all 200ms ease-in-out;
}

.edit-profile .content .submit:focus {
  outline: none;
}

.edit-profile .content .submit:active {
  background-color: salmon;
}

.edit-profile #buttons {
  justify-content: space-between;
}

.edit-profile .content h1 {
  width: 100%;
  height: 100%;
}
