.form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .form-login .dialog {
    background-color: white;
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
  }
  
  .form-login .dialog:hover {
    border-color: dimgrey;
  }
  
  .form-login .dialog .info {
    flex-grow: 1;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form-login .content {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    width: 90%;
    height: 3em;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
  }

  .form-login .forget {
    font-weight: bold;
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    width: 90%;
    height: 3em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    overflow: hidden;
  }
  
  .form-login .content input {
    background-color: #ebecf0;
    border-width: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    flex-grow: 1;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    font-family: "Open Sans";
    font-size: 1em;
  }

  .form-login .content input:focus {
    outline: none;
  }

  .form-login .content .title {
    width: 25%;
    flex-grow: 0;
    background-color: lightskyblue;
    border-width: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form-login .content .title h4 {
    margin: 0;
    text-align: center;
  }
  
  .form-login .content .cancel {
    height: 100%;
    width: 40%;
    border-width: 0;
    border-radius: 10px;
    background-color: lightskyblue;
    font-size: 1em;
    font-family: "Open Sans";
    transition: all 200ms ease-in-out;
  }
  
  .form-login .content .cancel:focus {
    outline: none;
  }
  
  .form-login .content .cancel:active {
    background-color: cornflowerblue;
  }
  
  .form-login .content .submit {
    height: 100%;
    width: 40%;
    border-width: 0;
    border-radius: 10px;
    background-color: lightsalmon;
    font-size: 1em;
    font-family: "Open Sans";
    transition: all 200ms ease-in-out;
  }
  
  .form-login .content .submit:focus {
    outline: none;
  }
  
  .form-login .content .submit:active {
    background-color: salmon;
  }
  
  .form-login #buttons {
    justify-content: space-between;
  }
  
  .form-login .content h1 {
    width: 100%;
    height: 100%;
  }
