.create-group {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  left: 0;
  right: 0;
  margin: 20px;
}

.create-group .page-title {
  width: 100%;
  border-bottom: 1px solid gray;
  margin-bottom: 1em;
}

.create-group .avatar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 200px;
  margin-bottom: 1em;
}

.create-group .avatar img {
  height: 100%;
  width: 200px;
  margin-right: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 5px -5px black;
}

.create-group .avatar .img-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
  padding-left: 50px;
  padding-right: 50px;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid white;
  background-color: white;
  box-shadow: 0px 4px 5px -5px black;
}

.create-group .avatar .img-selection h4 {
  width: 100%;
  margin: 0px;
}

.create-group .avatar .img-selection p {
  width: 100%;
  margin-top: 0px;
  font-size: 10pt;
  font-style: italic;
}

.create-group .avatar .img-selection input {
  width: 100%;
  margin-top: 20px;
}

.create-group .input {
  width: 100%;
  display: flex;
}

.create-group .input input {
  flex-grow: 1;
  margin: 0px;
  padding: 1em;
  border-width: 0px;
  border-radius: 5px;
  font-family: "Open Sans";
  box-shadow: 0px 4px 5px -5px black;
}
.create-group .input textarea {
  flex-grow: 1;
  resize: none;
  border-width: 0px;
  border-radius: 5px;
  padding: 1em;
  font-family: "Open Sans";
  height: 100px;
  box-shadow: 0px 4px 5px -5px black;
}

.create-group .buttons {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 2em;
  padding-top: 21px;
}

.create-group .buttons .cancel {
  height: 100%;
  border-width: 0;
  border-radius: 5px;
  background-color: lightskyblue;
  font-family: "Open Sans";
  transition: all 200ms ease-in-out;
  margin: 10px;
  width: 10%;
  box-shadow: 0px 4px 5px -5px black;
}

.create-group .buttons .cancel:focus {
  outline: none;
}

.create-group .buttons .cancel:active {
  background-color: cornflowerblue;
}

.create-group .buttons .submit {
  height: 100%;
  border-width: 0;
  border-radius: 5px;
  background-color: lightsalmon;
  font-family: "Open Sans";
  transition: all 200ms ease-in-out;
  margin: 10px;
  width: 10%;
  box-shadow: 0px 4px 5px -5px black;
  font-weight: bold;
  font-style: italic;
}

.create-group .buttons .submit:focus {
  outline: none;
}

.create-group .buttons .submit:active {
  background-color: salmon;
}
