.my-group-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  padding: 20px;
}

.my-group-wrapper .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.my-group-wrapper .title h2 {
  flex-grow: 1;
}

.my-group-wrapper .title button {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 0px;
  border-radius: 5px;
  box-shadow: 0px 4px 5px -5px black;
  background-color: palegreen;
  font-size: 11pt;
  transition: all 200ms ease-in-out;
}

.my-group-wrapper .title button:focus {
  outline: none;
}

.my-group-wrapper .title button:active {
  background-color: springgreen;
}

.my-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: fit-content;
}

.my-group .item {
  background-color: white;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
  border-width: 1px;
  transition: all 200ms ease-in-out;
  padding-top: 0px;
  padding-bottom: 0px;
  border-color: lightgrey;
  border-style: solid;
  min-width: fit-content;
  box-shadow: 0px 4px 5px -5px black;
}

.my-group .item:hover {
  border-color: dimgrey;
}

.my-group .item:focus {
  outline: none;
}

.my-group .item .image {
  flex-grow: 0;
  height: 100%;
  min-width: 100px;
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-group .item .image img {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 5px;
}

.my-group .item .content {
  flex-grow: 1;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  overflow: hidden;
  min-width: fit-content;
  background-color: white;
}

.my-group .item .content h4 {
  font-weight: normal;
  left: 0;
  right: 0;
  margin: 0;
}

.my-group .item .content h3 {
  left: 0;
  right: 0;
  margin: 0;
  cursor: pointer;
}

.my-group .item .but {
  min-width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.my-group .item .but button {
  border-width: 0px;
  background-color: transparent;
  max-width: fit-content;
  transition: all 500ms ease-in-out;
  border-radius: 5px;
  height: fit-content;
}

.my-group .item .but i {
  cursor: pointer;
}

.my-group .item .but .menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: stretch;
  justify-content: center;
}

.my-group .item .but .menu .menu-item {
  left: 0;
  right: 0;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 10pt;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.my-group .item .but .menu .menu-item:hover {
  background-color: whitesmoke;
}
