.my-group .group-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: lightgrey;
  background-color: white;
  overflow: hidden;
  margin-bottom: 20px;
  min-width: fit-content;
  box-shadow: 0px 4px 5px -5px black;
}

.my-group .group-info:hover {
  border-color: dimgrey;
}

.my-group .group-info .group-info-title {
  padding: 20px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.my-group .group-info .group-info-title .buttons {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.my-group .group-info .group-info-title h2 {
  margin: 0px;
  flex-grow: 1;
}

.my-group .group-info .group-info-title .but {
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 0px;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  font-family: "Open Sans";
  font-size: 11pt;
  box-shadow: 0px 4px 5px -5px black;
  margin-left: 10px;
  margin-right: 10px;
}

.my-group .group-info .group-info-title .but:focus {
  outline: none;
}

.my-group .group-info .group-info-title .but:active {
  background-color: whitesmoke;
}

.my-group .group-info .group-info-title .edit {
  background-color: #dbe9f4;
}

.my-group .group-info .group-info-title .save {
  background-color: palegreen;
}

.my-group .group-info .group-info-item {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.my-group .group-info .group-info-item p {
  min-width: 100%;
  max-width: 100%;
}

.my-group .group-info .group-info-item textarea {
  min-width: 100%;
  max-width: 100%;
  font-size: 12pt;
  font-family: "Open Sans";
  border-radius: 5px;
  border-width: 0px;
  resize: none;
  overflow: hidden;
  padding: 8px;
  flex-grow: 1;
  box-shadow: 0px 4px 10px -8px black;
  line-height: 24px;
  height: auto;
}

.my-group .group-info .group-info-item textarea:focus {
  -moz-outline-radius: 5px;
}

.my-group .group-info .group-info-item h3 {
  flex-grow: 0;
  width: 100%;
}

.my-group .group-info .group-info-item .avatar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 200px;
  margin-top: 1em;
}

.my-group .group-info .group-info-item .avatar img {
  height: 100%;
  width: 200px;
  margin-right: 20px;
  background-color: white;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
}

.my-group .group-info .group-info-item .avatar .img-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
  padding-left: 50px;
  padding-right: 50px;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: lightgrey;
  background-color: white;
}

.my-group .group-info .group-info-item .avatar .img-selection h4 {
  width: 100%;
  margin: 0px;
}

.my-group .group-info .group-info-item .avatar .img-selection p {
  width: 100%;
  margin-top: 0px;
  font-size: 10pt;
  font-style: italic;
}

.my-group .group-info .group-info-item .avatar .img-selection input {
  width: 100%;
  margin-top: 20px;
}

.my-group .group-info .group-info-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: stretch;
  justify-content: center;
}

.my-group .group-info .group-info-menu .menu-item {
  left: 0;
  right: 0;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 10pt;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.my-group .group-info .group-info-menu .menu-item:hover {
  background-color: whitesmoke;
}

.my-group .group-info .group-info-item-settings {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.my-group .group-info .group-info-item-settings p {
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
}

.my-group .group-info .group-info-item-settings .but {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  border-width: 0px;
  border-radius: 5px;
  font-size: 11pt;
  font-family: "Open Sans";
  color: white;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  box-shadow: 0px 4px 5px -5px black;
}

.my-group .group-info .group-info-item-settings .but:focus {
  outline: none;
}

.my-group .group-info .group-info-item-settings .red {
  background-color: crimson;
}

.my-group .group-info .group-info-item-settings .red:active {
  background-color: lightcoral;
}

.my-group .group-info .group-info-item-settings .normal {
  background-color: royalblue;
}

.my-group .group-info .group-info-item-settings .normal:active {
  background-color: steelblue;
}
